@import './common.scss';

//-- Navigation for mobile version STARTS here

.navigation-links,
.navigation-buttons
 {
  display: none;
}

.navigation-bar {
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white-1;
}

.navigation-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navigation-logo {
  width: 40px;
}

.dark-mode-button {
  border: none;
  background: none;
  color: $color-blue-1;
  font-size: 25px;
}

.hamburger-icon {
  font-size: 25px;
  cursor: pointer;
}

//--Navigation for mobile version END here


//--Navigation for tablet STARTS here

@media (min-width: 768px) {
.navigation-links,
.navigation-buttons
 {
  display: block;
}

.navigation-logo {
  width: 30px;
}

.hamburger-icon {
 display: none;
}

.navigation-bar {
  padding: 10px 20px;
}

.navigation-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  li {
    color: $color-blue-1;
    font-size: 15px;
  }
}

.navigation-right-side {
 justify-self: flex-end;
 gap: 10px;
 justify-content: center;
 align-items: center;
}

.navigation-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.login-button {
  width: 100px;
  height: 30px;
  border: 1px solid $color-blue-1;
  border-radius: 5px;
  color: $color-blue-1;
  transition: all 0.5s ease-in-out;
}

.login-button:hover {
  background-color: $color-blue-1;
  color: $color-white-1;
}

.login-button.blue {
  background-color: $color-blue-1;
  color: $color-white-1;
}
.login-button.blue:hover {
  background-color: $color-white-1;
  color: $color-blue-1;
}
.dark-mode-button {
  font-size: 15px;
  padding-top: 6px;
}
}

//--Navigation for tablet ENDS here
//--Navigation for desktop STARTS here

@media (min-width: 1000px) {
.navigation-bar {
  padding: 10px 40px;
}
}


//--Sidebar 
.sidebar {
  display: none;
}
.sidebar.show-sidebar {
  display: block;
}
